Machine Learnign/venv/
Machine Learnign/data/
Machine Learnign/output/*
Machine Learnign/output/*.pkl
!Machine Learnign/output/*.png
Machine Learnign/data/parquet/**
Machine Learnign/parquet/**
Mikrotik Scripts/**

/paper
/parquet
/PipeLine
.env
__pycache__/
*.pyc
SERVER_RUNBOOK.md